<body>
    <h1>Task Organizer</h1>
    <ul>
        <!--For each agenda-->
        <li *ngFor="let agenda of todoList;let agendaIndex = index;"> 
            <div id="agendaHeader" appClickedOutside (clickedOutside)="updateAgenda($event, agendaIndex)">
                <h2 id="AName">
                    <input id="name" [(ngModel)]="agenda.name" (focus)="copyAgenda(agendaIndex)">
                    <!-- {{ agenda.name }} -->
                </h2> 
                <h3 id="AStatus"> Status: 
                    <select id="agenda_status" [(ngModel)]="agenda.agenda_status" (focus)="copyAgenda(agendaIndex)">
                        <option *ngFor="let status of agendaStatusOptions">{{ status.name }}</option>
                    </select>
                    <!-- {{ agenda.status }} -->
                </h3> 
                <button id="deleteAgendaButton" type="button" (click)="deleteAgenda(agendaIndex)">&#x2716;</button>
            </div>
            <h3 id="tasksHeading">Tasks</h3>
            <!--For each task in agenda-->
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [id]="'existingTask' + agendaIndex + ':' + taskIndex" name="rows" *ngFor="let task of agenda.tasks; let taskIndex = index;" 
                        appClickedOutside (clickedOutside)="updateTask($event, taskIndex, agendaIndex)"> <!-- (focusout)="updateTask($event, taskIndex, agendaIndex)" id="existingTask{{agendaIndex}}:{{taskIndex}}" -->
                        <td><input id="title" [(ngModel)]="task.title" (focus)="copyTask(taskIndex, agendaIndex)"></td>
                        <td><input id="due_date" type="datetime-local" [(ngModel)]="task.due_date" (focus)="copyTask(taskIndex, agendaIndex)"></td>
                        <td>
                            <select id="priority" [(ngModel)]="task.priority" (focus)="copyTask(taskIndex, agendaIndex)">
                                <option value="" disabled selected>Priority</option>
                                <option *ngFor="let p of priorityOptions">{{ p.name }}</option>
                            </select> 
                        </td>
                        <td>
                            <select id="task_status" [(ngModel)]="task.task_status" (focus)="copyTask(taskIndex, agendaIndex)">
                                <option *ngFor="let s of taskStatusOptions">{{ s.name }}</option>
                            </select>    
                        </td>
                        <td> <!--Action buttons-->
                            <button id="detailsButton" type="button" (click)="openDetails(taskIndex, agendaIndex)">&#x2631;</button> <!--261A 2631 27B5 -->
                            <button id="deleteTaskButton" type="button" (click)="deleteTask(taskIndex, agendaIndex)">&#x2716;</button> <!-- 2716  274C-->
                        </td>
                        <!-- <td>{{task.title}}</td>
                        <td>{{task.dueDate}}</td>
                        <td>{{task.priority}}</td>
                        <td>{{task.status}}</td> -->
                        <!-- <td>{{task.description}}</td> -->
                        <!-- <td>
                            <li *ngFor="let c of task.comments">
                                {{c.comment_text}}
                            </li>
                        </td> -->
                    </tr>
                </tbody>
            </table>
            
            <!--Create new task button-->
            <form [formGroup]="newTaskForm">
                <div id="taskInputs" *ngIf="agenda.wantNewTask" appClickedOutside (clickedOutside)="createTask(agendaIndex)">
                    <input type="text" id="taskName" placeholder="Title" formControlName="newTitle">
                    <div id="taskInfo">
                        <input id="taskDate" type="datetime-local" placeholder="Due Date" formControlName="newDate">
                        <select id="taskPrior"  formControlName="newPriority">
                            <option value="" disabled selected>Priority</option>
                            <option placeholder="priority" *ngFor="let p of priorityOptions">{{ p.name }}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" [hidden]="agenda.wantNewTask" id="addTask" name="addTask" (click)="displayTaskInputs(agendaIndex)">Add Task</button>
                </div> 
                <br><br>
            </form>
        </li>

        <!--Create a new agenda button-->
        <form [formGroup]="newTaskForm">
            <div *ngIf="wantNewAgenda">
                <input type="text" placeholder="Agenda Name" formControlName="newAgendaName" (focusout)="createAgenda()">
            </div>
            <div>
                <button type="button" id="addAgenda" [hidden]="wantNewAgenda" (click)="displayAgendaInputs()">Add Agenda</button>
            </div>
        </form>
    </ul>
    <br><br>

    <!--Description and Comments-->
    <app-side-container #details [container_width]="600" [container_title]="container_name" [unique_id]="1">
        <h4>Description</h4>
        <textarea id="desText" [(ngModel)]="todoList[agenda_index].tasks[task_index].description" (focus)="copyTask(task_index, agenda_index)" 
                  (focusout)="updateTask($event, task_index, agenda_index)"></textarea>
        <h4>Comments</h4>
        <ul>
            <li *ngFor="let comment of comments; let commentIndex = index">
                <textarea [(ngModel)]="comment.comment_text" (focus)="copyComment(commentIndex)" (focusout)="updateComment(commentIndex)"></textarea>
                <button id="deleteCommentButton" type="button" (click)="deleteComment(commentIndex)">&#x2716;</button>
            </li>
            <button name="addNewComment" type="button" [hidden]="todoList[agenda_index].tasks[task_index].wantNewComment" (click)="displayCommentInput()">New comment</button>
            <input type="text" id="commentInput" *ngIf="todoList[agenda_index].tasks[task_index].wantNewComment" 
                    appClickedOutside (clickedOutside)="addComment(task_index, agenda_index)" [(ngModel)]="newComment">
        </ul>                       
    </app-side-container>    
</body>
