<body>
    <h1>Task Organizer</h1>
    <ul>
        <!--For each agenda-->
        <li *ngFor="let agenda of todoList">
            <div id="agendaHeader">
                <h2 id="AName">{{ agenda.name }}</h2> 
                <h3 id="AStatus"> Status: {{ agenda.status }}</h3> 
            </div>
            <!-- <h2 id="AName">{{ agenda.name }}</h2> 
            <h3 id="AStatus"> Status: {{ agenda.status }}</h3> ' -->
            <h3 id="tasksHeading">Tasks</h3>
            <!--For each task in agenda-->
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of agenda.Tasks">
                        <td>{{task.title}}</td>
                        <td>{{task.dueDate}}</td>
                        <td>{{task.priority}}</td>
                        <td>{{task.status}}</td>
                    </tr>
                </tbody>
            </table>
            
            <!--Create new task button-->
            <form [formGroup]="newTaskForm">
                <div id="taskInputs" *ngIf="agenda.wantNewTask" (focusout)="createTask(agenda.name)">
                    <input type="text" id="taskName" placeholder="Title" formControlName="newTitle">
                    <div id="taskInfo" > <!--*ngIf="newTaskForm.get('newTitle').valid"-->
                        <input id="taskDate" tabindex="-1" type="text" placeholder="Due Date" formControlName="newDate">
                        <input id="taskPrior" tabindex="-1" type="text" placeholder="Priority" formControlName="newPriority">
                    </div>
                </div>
                <div>
                    <button type="button" id="addTask" (click)="displayTaskInputs(agenda.name)">Add Task</button>
                </div>
                <br><br>
            </form>
        </li>
        <!--Create a new agenda button-->
        <form [formGroup]="newTaskForm">
            <div *ngIf="wantNewAgenda">
                <input type="text" placeholder="Agenda Name" formControlName="newAgendaName" (focusout)="createAgenda()">
            </div>
            <div>
                <button type="button" id="addAgenda" (click)="displayAgendaInputs()">Add Agenda</button>
            </div>
        </form>
    </ul>
    <br><br>
</body>
